@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0%;
}
.inc {
  color: red;
}
.dec {
  color: blue;
}

h1 {
  margin-left: 50%;
  font-size: 70px;
  padding-top: 10%;
 
  font-family: 'Poppins', sans-serif;
  ;
}

button {
  margin-left: 28%;
  font-size: 70px;
  padding: 20px 40px;
  border-radius: 19px;
  background-color: #370665;
  color: rgb(255, 255, 255);
}
.txt{
  position: absolute;
  margin-left: 40%;
  padding-top: 300px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  
}